@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "Forum";
  src: url(assets/fonts/Forum/Forum-Regular.ttf);
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  /* overflow-x: hidden; */
  font-size: 2rem;
}
.section {
  padding: 20px 0 40px 0;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.welcome {
  padding: 0;
  background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(assets/images/welcome-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 300px, cover;
  background-position: top, center;
}
.welcome__title {
  padding: 35px 40px;
  max-width: 600px;
  margin: 0;
  background: black;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.welcome__wrapper {
  padding: 220px 0 160px 0;
}
.header {
  background: #0C0C0E;
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
}
.header__navigation {
  margin: 0 25px 0 auto;
}
.navigation {
  margin: 0;
}
.navigation__link {
  display: block;
  padding: 13px 15px;
  transition: .3s;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.button {
  transition: 0.3s;
  padding: 9px 27px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: transparent;
}
.button_circled {
  border-radius: 50%;
}
.profile-button {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
header__profile-menu {

}
.profile-button__icon {
  transition: .3s;
  fill: white;
}
.about {
  padding-bottom: 35px;
}
.about__text {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: Inter;
  line-height: 4rem;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}
.section-title__text {
  color: #0C0C0E;
  font-family: "Forum", Garamond, serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}
.section-title__line {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
}
.h1 {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #FFF;
  font-family: "Forum", Garamond, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.06rem;
}
.navigation {
  display: flex;
}
.images-slider {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.images-slider__radio-buttons {
  align-self: center;
  display: flex;
  margin: 35px 0 0 0;
  justify-content: center;
}
.images-slider__radio-buttons input[type="radio"]:nth-child(4) {
  display: none;
}
.images-slider__radio-buttons input[type="radio"]:nth-child(5) {
  display: none;
}
.images-slider__radio-buttons input[type="radio"] {
  appearance: none;
  box-sizing: content-box;
  border: solid 5px white;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.images-slider__radio-buttons input[type="radio"]:checked {
  background-color: #BB945F;
}
.images-slider__slides {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  gap: 25px;
  transition: transform 0.3s ease-in-out;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  /* cursor: not-allowed; */
}
.images-slider__slides-wrapper {
  overflow: hidden;
}
.books-slider__title {
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 25px 0;
}
.books-slider__radio-buttons {
  display: flex;
  margin: 0 0 25px 0;
}
.books-slider__label:nth-child(4) {
  margin: 0;
}
.books-slider__label:nth-child(1) {
  padding-left: 0;
}
.books-slider__radio {
  accent-color: #000000;
  position: relative;
  height: 17px;
  width: 17px;
}
.books-slider__label {
  align-items: center;
  font-family: Inter;
  display: flex;
  cursor: pointer;
  gap: 20px;
  transition: text-shadow .3s;
  padding: 15px;
  margin: 0 60px 0 0;
}
.books-slider__label:has(.books-slider__radio:checked) {
  text-shadow: 0 0 0.9px #333, 0 0 0.9px #333;
  }
.books-slider__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border: 2px solid #000000;
}
.books-slider__radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.books-slider__slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
  opacity: 0;
  transition: opacity 1s ease;
  position: absolute;
}
.books-slider__slides {
  height: 1150px;
  position: relative;
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
.book-card {
  border: 1px solid black;
  padding: 15px 20px;
  position: relative;
  width: 550px;
  height: 555px;
  margin: 0 40px 0 0;
  z-index: 1;
}
.book-card__button {
  position: absolute;
  bottom: 15px;
}
.book-card__button_disabled {
  border: 1px solid #BB945F;
  color: #BB945F;
  padding: 9px 25px;
}
.book-card__about {
  width: 357px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-card__img {
  position: absolute;
  height: 300px;
  width: 200px;
  top: 255px;
  left: 390px;
}
.book-card__author {
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.book-card__name {
  margin: 20px 0 0 0;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book-card__info-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}
.book-card__info-text {
  margin: 0;
  color: #000;
  font-family: Forum;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
.coffee-shop__drinks-title {
  color: #BB945F;
  font-family: Forum;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  margin: 0;
}
.search-form__title {
  margin: 0 0 20px 0;
  font-family: Forum;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.06rem;
}
.library-card__get-card-title {
  margin: 20px 0 35px 0;
  text-align: center;
  font-family: Forum;
  font-size: 3rem;
  letter-spacing: 0.06rem;
}
.about__carousel-pagination {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}
.coffee-shop__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coffee-shop__menu {
  display: flex;
  justify-content: space-between;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
}
.footer {
  background-color: black;
  color: white;
  padding: 0 20px;
}
.icon-twitter {
  background-image: url(assets/icons/footer-twitter.svg);
  width: 24px;
  height: 24px;
}
.icon-instagram {
  background-image: url(assets/icons/footer-instagram.svg);
  width: 24px;
  height: 24px;
}
.icon-facebook {
  background-image: url(assets/icons/footer-facebook.svg);
  width: 24px;
  height: 24px;
}
.footer__social-media {
  display: flex;
}
.footer__content-library {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.footer__line {
  height: 1px;
  background-color: white;
}
.about__carousel-pagination button:nth-child(1) {
  background-color: #BB945F;
}
.favorites__carousel-pagination {
  margin: 4rem 0;
}
.favorites__carousel-pagination-title {
  font-weight: 700;
  margin-bottom: 4rem;
}
.favorites__carousel-pagination-inputs {
  display: flex;
  gap: 9rem;
}
.favorites__carousel-pagination-input input[type="radio"] {
  appearance: none;
  width: 17px;
  height: 17px;
  background-image: url(assets/icons/favorites-radio.svg);
}
.favorites__carousel-pagination-input input[type="radio"]:checked {
  background-image: url(assets/icons/favorites-radio-checked.svg);
}
.favorites__carousel-pagination-input label {
  padding: 0 0 0 2rem;
}
.favorites__carousel {
  margin-bottom: 40px;
}
.coffee-shop__text {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  margin: 40px 0;
}
.coffee-shop__drinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
}
.coffee-shop__item {
  display: flex;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  gap: 60px;
}
.coffee-shop__drinks .coffee-shop__item-name {
  margin: 0 auto 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee-shop__desserts .coffee-shop__item-name {
  margin: 0 0 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee-shop__item-price {
  margin: 0;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee-shop__desserts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
}
.coffee-shop__desserts-title {
  margin: 0 0 0 auto;
  color: #BB945F;
  font-family: Forum;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
.coffee-shop__item-line {
  height: 1px;
  width: 100px;
  background-color: #BB945F;
}
.coffee-shop__section {
  margin: 0 0 20px 0;
}
.important-text {
  font-weight: 700;
}
.contacts__info {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts__map {
  width: 49.713%;
}
.contacts__info a {
  color: black;
  transition: .3s;
}
.contacts__info-phones-title {
  margin: 0 0 40px 0;
}
.contacts__info-staff-title {
  margin: 40px 0 0 0;
}
.contacts__section {
  margin: 0 0 40px 0;
}
.library-card__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
  border: 3px solid #BB945F;
  width: 600px;
  height: 386px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.library-card__find-card-bg {
  background: #BB945F;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 25px 20px;
}
.search-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.search-from__input {
  width: 520px;
  height: 66px;
  border: 0;
  border-radius: 10px;
  padding: 0 0 0 20px;
  font-family: Forum;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.search-from__input::placeholder {
  color: #8E8E8E;
}
.search-from__input:focus {

}
.library-card__find-card-title {
  margin: 20px 0 30px 0;
  font-family: Inter;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.6px;
}
.library-card__section-title {
  margin: 0 0 20px 0;
}
.search-form__button {
  width: auto;
  font-size: 2rem;
  margin: 20px 0 30px 0;
  padding: 10px 40px;
}
.library-card__get-card-title {
  text-align: right;
}
.library-card__get-card-text {
  width: 456px;
  margin: 0 0 35px 0;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}
.library-card__get-card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.library-card__get-card-buttons .button:nth-child(1) {
  padding: 9px 14.5px;
  width: auto;
}
.library-card__get-card-buttons .button:nth-child(2) {
  padding: 9px 20px;
  width: auto;
}
.library-card__section {
  margin: 0 0 36px 0;
}
.footer__content-library {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.footer__address {
  width: 229px;
  margin: 0 0 18px 0;
}
.footer a {
  color: white;
}
.footer__social-media {
  display: flex;
  gap: 15px;
}
.footer__library-open-weekday {
  text-align: right;
}
.footer__library-open-holyday {
  text-align: right;
}
.footer__content {
  padding: 20px 0 0 0;
}
.footer__library-open-days {
  margin: 0;
}
.footer__library-open-hours {
  margin: 0 0 10px 0;
}
.footer__year {
  width: 33.3%;
  text-align: left;
}
.footer__rss {
  width: 33.3%;
  text-align: center;
}
.footer__developer {
  width: 33.3%;
  text-align: right;
}
.footer__content-rss {
  display: flex;
  padding:  24px 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}
.header__profile-button {
  z-index: 1;
}
.header__burger-button {
  display: none;
  margin: 0 0 0 40px;
}
.burger-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.burger-button__line {
  background-color: white;
  width: 45px;
  height: 2px;
  margin: 4px 0;
  transition: .3s;
}
.burger-button.active .burger-button__line:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 12px);
  background-color: #ebc48d;
}
.burger-button.active .burger-button__line:nth-child(2) {
  opacity: 0;
  background-color: #ebc48d;
}
.burger-button.active .burger-button__line:nth-child(3) {
  transform: rotate(45deg) translate(-2px, -11px);
  background-color: #ebc48d;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #0C0C0E;
  gap: 30px;
  padding: 100px 92px;
}
.header__burger-menu.active {
  height: 570px;
}
.header__burger-menu {
  transition: height .3s;
  right: 0;
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__modal-overlay {
  opacity: 0;
  z-index: -1;
}
.header__modal-overlay.inactive {
  animation: fade-out .5s forwards;
}
.header__modal-overlay.active {
  animation: fade-in .5s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
    z-index: 2;
  }
  to {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.auth-form__wrapper {
  padding: 20px 25px;
  background: #FFF  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth-form_centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-form__field-input {
  border: 1px solid #BB945F;
  height: 20px;
  width: 200px;
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.auth-form__field-input::placeholder {
  font-family: Forum;
  font-size: 10px;
  letter-spacing: 0.6px;
}
.auth-form__close-button.active {
  pointer-events: all;
  cursor: pointer;
}
.auth-form__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  pointer-events: none;
  cursor: default;
}
.auth-form__close-button::before,
.auth-form__close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
}
.auth-form__close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.auth-form__button {
  align-self: flex-start;
  margin: 10px 0 0 0;
  padding: 9px 15px;
}
.auth-form__title {
  font-family: Forum;
  font-size: 20px;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.auth-form__field-label {
  font-family: Inter;
  font-size: 15px;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}
.auth-form__footer {
  display: flex;
  align-self: flex-start;
  gap: 10px;
}
.auth-form_footer-link {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
.auth-form__footer-text {
  margin: 0;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
}
.header__profile-menu {
  transition: height .3s;
  position: absolute;
  overflow: hidden;
  right: 20px;
  height: 0;
  top: 60px;
}
.header__profile-menu.active {
  height: 118px;
}
.profile-button.active .profile-button__icon:hover {
  fill: #ebc48d;
}
.profile-button.active .profile-button__icon {
  fill: #ebc48d;
}
.profile-menu {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px 11px 20px 10px;
}
.profile-menu__title {
  margin: 0 0 5px 0;
  cursor: default;
}
.profile-menu__line {
  width: 40px;
  height: 1px;
  background: #BB945F;
  margin: 0 0 15px 0;
}
.profile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 10px;
}
.profile-menu__item {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
}
.profile-menu__title {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@media screen and (max-width: 1439.9px) {
  .header__profile-menu {
    right: 105px;
  }
  .navigation {
    display: none;
  }
  .header__burger-button {
    display: block;
    z-index: 1;
  }
  .library-card__content {
    justify-content: center;
  }
  .library-card__get-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .library-card__get-card-text {
    text-align: center;
  }
  .images-slider__slides-wrapper {
    max-width: 450px;
    }
  .images-slider__arrow_right {
    margin: 36px 0 0 54px;
  }
  .images-slider__arrow_left {
    margin: 36px 54px 0 0;
  }
  .images-slider__arrow {
    display: flex;
    padding: 10px;
    cursor: pointer;
  }
  .images-slider__slides-wrapper img:nth-child(2) {
    display: none;
  }
  .images-slider__slides-wrapper img:nth-child(3) {
    display: none;
  }
  .images-slider__radio-buttons {
    margin: 20px 0 0 0;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .arrow_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .arrow_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .images-slider__wrapper {
    display: flex;
    max-width: 450px;
  }
  .images-slider {
   justify-content: center;
  }
  .book-slider__menu {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .coffee-shop__menu {
    flex-wrap: wrap;
    gap: 40px 0;
  }
  .coffee-shop__desserts {
    margin-left: auto;
  }
  .contacts__content {
    flex-wrap: wrap;
    gap: 80px 0;
  }
  .contacts__map {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  .library-card__get-card-text {
    width: 600px;
    margin: 0 0 40px 0;
  }
  .library-card__get-card-title {
    margin-bottom: 40px;
  }
  .footer__year {
    width: auto;
  }
  .footer__rss {
    width: auto;
  }
  .footer__developer {
    width: auto;
  }
  .footer__content-rss {
    justify-content: space-between;
  }
  .images-slider__radio-buttons input[type="radio"]:nth-child(4) {
    display: block;
  }
  .images-slider__radio-buttons input[type="radio"]:nth-child(5) {
    display: block;
  }
}
@media screen and (max-width: 1219.9px) {
  .books-slider__slides {
    height: 2340px;
  }
  .books-slider__slide {
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .books-slider__label {
    margin: 0;
  }
  .books-slider__radio-buttons {
    justify-content: space-between;
  }
  .contacts__map {
    width: 100%;
  }
}

@media (hover: hover) {
  .auth-form__field-label:hover {
    cursor: default;
  }
  .profile-button:hover .profile-button__icon {
    fill: #BB945F;
  }
  .navigation__link:hover {
    color: #BB945F;
  }
  .button:hover {
    background: #BB945F;
    border: 1px solid #BB945F;
  }
  input[type="radio"], label:hover {
    cursor: pointer;
  }
  .images-slider__radio-buttons input[type="radio"]:hover {
    background-color: #BB945F;
  }
  .books-slider__label:hover {
    text-shadow: 0 0 0.9px #333, 0 0 0.9px #333;
  }
  .book-card__button_disabled:hover {
    background: transparent;
  }
  .about__carousel-pagination .button_circle:hover {
    background-color: #BB945F;
  }
  .footer a:hover {
    color: #BB945F;
    transition: .3s;
  }
  .contacts__info a:hover {
    color: #BB945F;
  }
  book-card__button_disabled:hover {
    color: #BB945F;
    background-color: white;
  }
  .burger-button:hover .burger-button__line {
    background-color: #BB945F;
  }
  .images-slider__arrow:hover .arrow {
    border-color: #BB945F;
    transition: .3s;
  }
  .navigation__link:active {
    color: #ebc48d;
  }
  .button:active {
    background: #ebc48d;
    border: 1px solid #ebc48d;
  }
  .profile-button:active .profile-button__icon {
    fill: #ebc48d;
  }
  input[type="radio"], label:active {
    cursor: pointer;
  }
  .images-slider__radio-buttons input[type="radio"]:active {
    background-color: #ebc48d;
  }
  .books-slider__label:active {
    text-shadow: 0 0 0.9px #333, 0 0 0.9px #333;
  }
  .book-card__button_disabled:active {
    background: transparent;
  }
  .about__carousel-pagination .button_circle:active {
    background-color: #ebc48d;
  }
  .footer a:active {
    color: #ebc48d;
    transition: .3s;
  }
  .contacts__info a:active {
    color: #ebc48d;
  }
  book-card__button_disabled:active {
    color: #ebc48d;
    background-color: white;
  }
  .burger-button:active .burger-button__line {
    background-color: #ebc48d;
  }
  .images-slider__arrow:active .arrow {
    border-color: #ebc48d;
    transition: .3s;
  }
}
